.right{
    position : absolute;
    top: 2;
    right: 0;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;

  }
  .left {
    position : absolute;
    top: 2;
    right: 3;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
  }
.sidebyside{
    display: flex;
}

    
      .MediumPosts_Bookmark {
        font-size: 25px;
      }
  
      .MuiSvgIcon-root {
        margin: 0 5px;
      }
  

        span {
          font-family: "Open Sans", sans-serif !important;
          color: #757575;
          font-weight: 400;
          font-size: 13px;
        }
    
  
    .MediumPosts_image {
      margin-left: 15px;
      height: 100px;
      width: 100px;
      background: red;
      background-position: center;
      background-size: cover;
     
    }
  
    .MediumPosts_Text {
      width: 100%;
      display : flex;
      
    }

      .MediumPosts_Text h2 {
        font-weight: 700;
        font-size: 23px;
        color: #2a2a2a;
        font-family: "Open Sans", sans-serif !important;
      }
  
      .MediumPosts_Text p {
        font-weight: 500;
        color: #7f7f7f;
        font-size: 15px;
        margin: 5px 0;
        font-family: "Open Sans", sans-serif !important;
      }